:root {
	--clr-bs-blk: rgba(0, 0, 0, 0.25);
	--clr-bs-blk2: rgba(0, 0, 0, 0.5);
	--clr-bs-blk3: rgba(0, 0, 0, 0.75);
	--clr-bs-wht: rgba(255, 255, 255, 0.2);
	--clr-bg: #2f363e;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: var(--clr-bg);
}

.container {
	position: relative;
	width: 350px;
	min-height: 260px;
	background-color: var(--clr-bg);
	box-shadow: 25px 25px 75px var(--clr-bs-blk),
	10px 10px 70px var(--clr-bs-blk),
	inset 5px 5px 10px var(--clr-bs-blk),
	inset 5px 5px 20px var(--clr-bs-wht),
	inset -5px -5px 15px var(--clr-bs-blk3);
}

.container h3 {
	color: #fff;
	font-weight: 700;
	font-size: 1.2em;

}

.container .list {
	position: relative;
	display: flex;
	align-items: center;
	margin: 20px 0;
	cursor: pointer;
}

.container .list::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 45px;
	height: 45px;
	background-color: #1f83f2;
	border-radius: 22.5px; /* Half of width*/
	box-shadow: 5px 5px 7px var(--clr-bs-blk), 
	inset 2px 2px 5px var(--clr-bs-wht),
	inset -3px -3px 5px var(--clr-bs-blk2);
	transition: 0.5s;
}

.container .list:hover::before {
	width: 100%;
}

.container .list .rank {
	position: relative;
	min-width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	margin-right: 10px;
}

.container .list .rank::before {
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: var(--clr-bg);
	border-radius: 30px;
	transform: scale(0);
	transition: 0.5s;
}

.container .list:hover .rank::before {
	transform: scale(1);
}

.container .list .rank span {
	position: relative;
	font-weight: 600;
	font-size: 1em;
	color: #fff;
	transition: 0.5s;
}

.container .list .game {
	position: relative;
	line-height: 1.15em;
}

.container .list .game h4 {
	font-weight: 600;
	color: #bcbcc0;
	transition: 0.5s;
}

.container .list .game p {
	font-weight: 400;
	color: #95999d;
	font-size: 0.85em;
	transition: 0.5s;
}

.container .list:hover .game h4,
.container .list:hover .game p {
	color: #fff;
}

