:root {
	--clr-bs-blk: rgba(0, 0, 0, 0.25);
	--clr-bs-blk2: rgba(0, 0, 0, 0.5);
	--clr-bs-blk3: rgba(0, 0, 0, 0.75);
	--clr-bs-wht: rgba(255, 255, 255, 0.2);
	--clr-bg: #2f363e;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: var(--clr-bg);
}

